/* You can add global styles to this file, and also import other style files */
:root {
    --gap-nada: 2px;
    --gap-poquitin: 4px;
    --gap-poquito: 8px;
    --gap-poco: 12px;
    --gap-cool: 16px;
    --gap-bastante: 24px;
    --gap-buco: 32px;
    --gap-pocoton: 40px;
    --gap-rantan: 48px;
    --bg-color-bg-blue: #004C97;
    --bg-color-royal-dark: #003882;
    --bg-color-frost: #F1F9FF;
    --bg-color-crystal: #F9FDFF;
    --bg-color-ink: #292e38;
    --bg-color-denim: #444C5E;
    --bg-color-aluminium: #D2D6DE;
    --bg-color-sky-light: #E1F0FF;
  }
  
  div.ecommerce {
    text-align: center;
    cursor: pointer !important;
    border: 0 !important;
    display: flex !important;
    align-items: center !important;
    height: 48px !important;
    min-width: 160px !important;
    max-width: 500px !important;
    margin: 0 auto;
    justify-content: center !important;
    background: white !important;
    border-radius: var(--gap-poquitin) !important;
    font-weight: bold !important;
    font-size: var(--gap-cool) !important;
    line-height: var(--gap-bastante) !important;
    padding: var(--gap-cool) !important;
    outline: 0 !important;
    transition: 0.3s ease !important;
  }
  
  div.ecommerce>svg {
    width: var(--gap-rantan) !important;
    margin-left: var(--gap-poquitin) !important;
  }
  
  div.ecommerce:not(.yappy)>svg {
    display: none !important;
  }
  
  div.ecommerce.brand {
    color: white !important;
    background: var(--bg-color-bg-blue) !important;
  }
  
  div.ecommerce.brand:hover {
    background: var(--bg-color-royal-dark) !important;
  }
  
  div.ecommerce.light {
    color: var(--bg-color-bg-blue) !important;
    background: var(--bg-color-frost) !important;
  }
  
  div.ecommerce.light:hover {
    background: var(--bg-color-crystal) !important;
  }
  
  div.ecommerce.dark {
    color: white;
    background: var(--bg-color-ink) !important;
  }
  
  div.ecommerce.dark:hover {
    background: var(--bg-color-denim) !important;
  }
  
  div.ecommerce.white {
    color: var(--bg-color-bg-blue) !important;
    border: 1px solid var(--bg-color-aluminium) !important;
  }
  
  div.ecommerce.white:hover {
    background: var(--bg-color-sky-light) !important;
    border-color: transparent !important;
  }
  
  @media only screen and (max-width: 823px) {
    div.ecommerce {
      padding: 28px var(--gap-cool) !important;
    }
  }
  
  #overlay {
    position: fixed;
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: 2;
  }
  
  #overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  #overlayClose {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 21px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .underline {
    text-decoration: underline;
    font-weight: 600;
  }
  
  .pointer {
    cursor: pointer;
  }